<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="MyBatisCodeHelperDatasource">
    <option name="projectProfile">
      <ProjectProfile>
        <option name="generatedClassPathList">
          <list>
            <option value="C:\Users\秦政瀚\Desktop\SignInSystem\health_server\src\main\java\cn\zjutleo\health_server\entity" />
            <option value="C:\Users\秦政瀚\Desktop\SignInSystem\health_server\src\main\java\cn\zjutleo\health_server\pojo" />
          </list>
        </option>
        <option name="javaMapperPackage" value="cn.zjutleo.health_server.mapper" />
        <option name="javaMapperPath" value="C:\Users\秦政瀚\Desktop\SignInSystem\health_server\src\main\java\cn\zjutleo\health_server\mapper" />
        <option name="javaModelPackage" value="cn.zjutleo.health_server.pojo" />
        <option name="javaModelPath" value="C:\Users\秦政瀚\Desktop\SignInSystem\health_server\src\main\java\cn\zjutleo\health_server\pojo" />
        <option name="lastDatabaseCrudChooseModuleName" value="health_server" />
        <option name="lombokDataAnnotation" value="true" />
        <option name="moduleNameToPackageAndPathMap">
          <map>
            <entry key="health_server">
              <value>
                <UserPackageAndPathInfoByModule>
                  <option name="javaMapperPackage" value="cn.zjutleo.health_server.mapper" />
                  <option name="javaMapperPath" value="C:\Users\秦政瀚\Desktop\SignInSystem\health_server\src\main\java\cn\zjutleo\health_server\mapper" />
                  <option name="javaModelPacakge" value="cn.zjutleo.health_server.pojo" />
                  <option name="javaModelPath" value="C:\Users\秦政瀚\Desktop\SignInSystem\health_server\src\main\java\cn\zjutleo\health_server\pojo" />
                  <option name="xmlPackage" value="mapperxml" />
                  <option name="xmlPath" value="C:\Users\秦政瀚\Desktop\SignInSystem\health_server\src\main\resources\mapperxml" />
                </UserPackageAndPathInfoByModule>
              </value>
            </entry>
          </map>
        </option>
        <option name="tableGenerateConfigs">
          <map>
            <entry key="health_server:oauth">
              <value>
                <TableGenerateConfig>
                  <option name="columnOverrideList">
                    <list>
                      <MyColumnOverride>
                        <option name="columnName" value="oa_oauth_type" />
                        <option name="javaProperty" value="oauthType" />
                      </MyColumnOverride>
                      <MyColumnOverride>
                        <option name="columnName" value="oa_oauth_id" />
                        <option name="javaProperty" value="oauthId" />
                      </MyColumnOverride>
                    </list>
                  </option>
                  <option name="generatedKey" value="" />
                  <option name="ignoredColums">
                    <list>
                      <MyIgnoredColumn>
                        <option name="columnName" value="oa_user_id" />
                      </MyIgnoredColumn>
                      <MyIgnoredColumn>
                        <option name="columnName" value="oa_unionid" />
                      </MyIgnoredColumn>
                      <MyIgnoredColumn>
                        <option name="columnName" value="oa_credential" />
                      </MyIgnoredColumn>
                    </list>
                  </option>
                  <option name="javaModelName" value="Oauth" />
                  <option name="moduleName" value="health_server" />
                  <option name="sequenceColumn" value="" />
                  <option name="sequenceId" value="" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="health_server:user">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="u_id" />
                  <option name="javaModelName" value="User" />
                  <option name="moduleName" value="health_server" />
                  <option name="sequenceColumn" value="" />
                  <option name="sequenceId" value="" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
          </map>
        </option>
        <option name="xmlMapperPackage" value="mapperxml" />
        <option name="xmlMapperPath" value="C:\Users\秦政瀚\Desktop\SignInSystem\health_server\src\main\resources\mapperxml" />
      </ProjectProfile>
    </option>
  </component>
</project>