<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zjutleo.health_server.mapper.OauthMapper">
  <resultMap id="BaseResultMap" type="cn.zjutleo.health_server.pojo.Oauth">
    <!--@mbg.generated-->
    <!--@Table oauth-->
    <id column="oa_user_id" property="userId" />
    <id column="oa_oauth_type" property="oauthType" />
    <result column="oa_oauth_id" property="oauthId" />
    <result column="oa_unionid" property="unionid" />
    <result column="oa_credential" property="credential" />
  </resultMap>
  <resultMap id="VoResultMap" type="cn.zjutleo.health_server.vo.OauthVo">
    <id column="oa_oauth_type" property="oauthType" />
    <result column="oa_oauth_id" property="oauthId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    oa_user_id, oa_oauth_type, oa_oauth_id, oa_unionid, oa_credential
  </sql>
  <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <include refid="Base_Column_List" />
    from oauth
    where oa_user_id = #{userId}
    and oa_oauth_type = #{oauthType}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="map">
    <!--@mbg.generated-->
    delete from oauth
    where oa_user_id = #{userId}
    and oa_oauth_type = #{oauthType}
  </delete>
  <insert id="insert" parameterType="cn.zjutleo.health_server.pojo.Oauth">
    <!--@mbg.generated-->
    insert into oauth (oa_user_id, oa_oauth_type, oa_oauth_id, oa_unionid, oa_credential)
    values (#{userId}, #{oauthType}, #{oauthId}, #{unionid}, #{credential})
  </insert>
  <insert id="insertSelective" parameterType="cn.zjutleo.health_server.pojo.Oauth">
    <!--@mbg.generated-->
    insert into oauth
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        oa_user_id,
      </if>
      <if test="oauthType != null">
        oa_oauth_type,
      </if>
      <if test="oauthId != null">
        oa_oauth_id,
      </if>
      <if test="unionid != null">
        oa_unionid,
      </if>
      <if test="credential != null">
        oa_credential,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId},
      </if>
      <if test="oauthType != null">
        #{oauthType},
      </if>
      <if test="oauthId != null">
        #{oauthId},
      </if>
      <if test="unionid != null">
        #{unionid},
      </if>
      <if test="credential != null">
        #{credential},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.zjutleo.health_server.pojo.Oauth">
    <!--@mbg.generated-->
    update oauth
    <set>
      <if test="oauthId != null">
        oa_oauth_id = #{oauthId},
      </if>
      <if test="unionid != null">
        oa_unionid = #{unionid},
      </if>
      <if test="credential != null">
        oa_credential = #{credential},
      </if>
    </set>
    where oa_user_id = #{userId}
    and oa_oauth_type = #{oauthType}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.zjutleo.health_server.pojo.Oauth">
    <!--@mbg.generated-->
    update oauth
    set oa_oauth_id = #{oauthId},
    oa_unionid = #{unionid},
    oa_credential = #{credential}
    where oa_user_id = #{userId}
    and oa_oauth_type = #{oauthType}
  </update>

  <!--auto generated by MybatisCodeHelper on 2020-11-02-->
  <select id="selectByOauthTypeAndOauthId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from oauth
    where oa_oauth_type = #{oauthType}
    and oa_oauth_id = #{oauthId}
  </select>

  <select id="selectAllVoByUserId" resultMap="VoResultMap">
    <!--@mbg.generated-->
    select
    <include refid="Base_Column_List" />
    from oauth
    where oa_user_id = #{userId}
  </select>
</mapper>